{% extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author.last_name }}, {{ author.first_name}}</h1>
  {% if author.date_of_death != None %}
  <p> {{ author.date_of_birth }} - {{author.date_of_death}}</p>
  {% else %}
  <p> {{ author.date_of_birth }}</p>
  {% endif %}

  <div style="margin-left:20px;margin-top:20px">
    <h3>Books</h4>
      <hr>
        {% for book in book_list.iterator %}
        <h4><a href="{{ book.get_absolute_url }}"> {{ book.title}}</a></h3>
        <h8>{{ book.summary }}</h1>
        {% endfor %}
  </div>
{% endblock %}